.question {
  margin-bottom: 25px;

  &__header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #2e2f33;
  }

  &__header-likes {
    margin-right: 18px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: $dark;

    @include transition;

    &:hover {
      opacity: .8;
      text-decoration: none;
      color: $dark;
    }

    &:before {
      margin-right: 8px;
      margin-bottom: 4px;
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      content: '';
      background: url(../img/vote-up.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
  }

  &__author {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.29;
    color: #000;
  }
}
