mixin question(data)
  .question&attributes(attributes)
    .question__header
      .question__header-title Для 
        a(href="#") Валентинова Татьяна
      a.question__header-likes(href="#") 150
    .question__content= data.content
    .question__author Вопрос от: 
      a(href="#") ANTON KURKIN
