.schedule-item {
  position: relative;
  padding: 20px 55px 28px 15px;
  border: 1px solid #000;
  border-radius: 4px;

  &__favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 27px;
    height: 27px;
    background: url(../img/favorite.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}
