mixin schedule-item(data)
  .schedule-item&attributes(attributes)
    a.schedule-item__favorite(href="#")
    h6.text-dark.mb-5 11:45 - 12:30
    p.sm.mb-10.text-dark Зал2
    p.sm.text-dark.mb-0 Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Системное развитие и внедрение цифровых арственной политики. Системное развитие и внедрение цифровых т
    if data && data.modifier == 'speakers'
      .row.mt-20
        .col-sm-6
          +schedule-speaker({
            photo: 'user-1.jpg',
            name: 'Валидаров Константин',
            company: 'Mail.ru group'
          })
        .col-sm-6
          +schedule-speaker({
            photo: 'user-2.jpg',
            name: 'Валидаров Константин',
            company: 'Mail.ru group'
          })
