mixin modal(data)
  .modal&attributes(attributes)
    if data && data.modifier == 'session-offer'
      h3 Предложить сессию
      form.form.form--default(action="#", method="POST")
        .form-group
          label Тема сессии
          input.form-control(type="text" value="Заголовок для темы сессии")
        .form-group
          label Описание сессии
          textarea.textarea--default.form-control
        button.btn.btn-primary(type="submit") Предложить сессию
