h1,
.h1 {
  font-size: 64px;
  line-height: 1.1;
  font-weight: bold;
  color: $blue;

  @include media-breakpoint-down(lg) {
    font-size: 58px;
  }

  @include media-breakpoint-down(md) {
    font-size: 52px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 46px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 36px;
  }
}

h2,
.h2 {
  font-size: 48px;
  font-weight: bold;
  color: $blue;

  @include media-breakpoint-down(lg) {
    font-size: 42px;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
}

h3,
.h3 {
  font-size: 36px;
  font-weight: bold;
  color: $blue;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }

  @include media-breakpoint-down(md) {
    font-size: 26px;
  }
}

h4,
.h4 {
  font-size: 24px;
  font-weight: 600;
  color: $blue;
}

h5,
.h5 {
  font-size: 20px;
  font-weight: 600;
  color: $blue;
}

h6,
.h6 {
  font-size: 16px;
  font-weight: 600;
  color: $blue;
}

p,
.p {
  font-size: 16px;
  color: $black2;

  &.sm {
    font-size: 14px;
  }

  &.lg {
    font-size: 20px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-black {
  font-weight: 900;
}

.text-purple {
  color: $purple;
}

.text-blue {
  color: $blue;
}

.text-sm-blue {

  @include media-breakpoint-up(sm) {
    color: $blue !important;
  }
}

.text-green {
  color: $green;
}

.text-sky-blue {
  color: $sky-blue;
}

.text-black {
  color: $black;
}

.text-black2 {
  color: $black2;
}

.text-white {
  color: $white;
}

.text-sm-white {

  @include media-breakpoint-up(sm) {
    color: $white !important;
  }
}

.text-grey {
  color: $grey;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
  color: $blue;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.sm {
    font-size: 14px;
  }

  &.lg {
    font-size: 20px;
  }

  &:hover {
    text-decoration: underline;
    color: $blue;
  }
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
