@font-face {
  font-family: 'TT Commons';
  src: url('../fonts/subset-TTCommons-Regular.woff2') format('woff2'),
    url('../fonts/subset-TTCommons-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: url('../fonts/subset-TTCommons-Medium.woff2') format('woff2'),
    url('../fonts/subset-TTCommons-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: url('../fonts/subset-TTCommons-DemiBold.woff2') format('woff2'),
    url('../fonts/subset-TTCommons-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: url('../fonts/subset-TTCommons-Bold.woff2') format('woff2'),
    url('../fonts/subset-TTCommons-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
