$sandwich-width: 34px;
$sandwich-height: 3px;

.sandwich {
  position: relative;
  z-index: 1;
  display: none;
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.is-active,
  &__close {

    .sandwich__topper {
      top: 9px;
      transform: rotate(-45deg);
    }

    .sandwich__bottom {
      top: 6px;
      transform: rotate(45deg);
    }

    .sandwich__footer {
      top: 0;
      opacity: 0;
      transform: rotate(180deg);
    }
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 40px;

    @include media-breakpoint-down(sm) {
      top: 20px;
      right: 20px;
    }
  }

  span {
    display: block;
  }

  @include media-breakpoint-down(md) {
    display: block;
  }

  &__wrap {
    position: absolute;
    z-index: 200;
    top: 12px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: $sandwich-width;
    height: $sandwich-width;
  }

  &__topper {
    position: relative;
    top: 0;
    width: $sandwich-width;
    height: $sandwich-height;
    background: $black;
    border: none;
    border-radius: 4px;
    transition: transform .5s, top .2s;
  }

  &__bottom {
    position: relative;
    top: $sandwich-height * 2.2;
    width: $sandwich-width;
    height: $sandwich-height;
    background: $black;
    border: none;
    border-radius: 4px;
    transition: transform .5s, top .2s;
    transition-delay: .2s, 0s;
  }

  &__footer {
    position: relative;
    top: $sandwich-height * 4.5;
    width: $sandwich-width;
    height: $sandwich-height;
    background: $black;
    border: none;
    border-radius: 4px;
    transition: all .5s;
    transition-delay: .1s;
  }
}
