.about-slider {

  &__container {
  }

  &__item {
    margin: 0 15px;
    width: 100%;
    max-width: 368px;
    transition-duration: .8s;

    &.slick-current {
      transform: scale(1.45);
    }

    &.slick-active {
    }

    img {
      width: 100%;
      border-radius: 20px;
    }
  }
}
