mixin about-slider(data)
  .about-slider&attributes(attributes)
    .about-slider__item
      img(src="./img/about-slider-img1.jpg", alt="")
    .about-slider__item
      img(src="./img/about-slider-img2.jpg", alt="")
    .about-slider__item
      img(src="./img/about-slider-img3.jpg", alt="")
    .about-slider__item
      img(src="./img/about-slider-img4.jpg", alt="")
    .about-slider__item
      img(src="./img/about-slider-img5.jpg", alt="")
