.programms {

  [class^='col-'] {
    display: flex;
    align-items: flex-end;
  }

  &__item {
    padding: 0 32px 21px;
    display: flex;
    min-height: 368px;
    align-items: flex-end;
    border-radius: 20px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, .25);

    &:hover {
      text-decoration: none;
    }

    @include media-breakpoint-down(lg) {
      min-height: 310px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      min-height: 426px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 350px;
    }

    @include media-breakpoint-down(xs) {
      min-height: 95vw;
    }

    &-1 {
      margin-bottom: 74px;
      background: $white url(../img/progr-bgn1.svg) center -5px no-repeat;
      background-size: 100% auto;

      @include media-breakpoint-down(md) {
        margin-bottom: 80px;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
        background: $white url(../img/progr-bgn1.svg) center -120px no-repeat;
        background-size: 100% auto;
      }
    }

    &-2 {
      margin-bottom: 20px;
      background: $white url(../img/progr-bgn2.svg) center -5px no-repeat;
      background-size: 100% auto;

      @include media-breakpoint-down(md) {
        margin-bottom: 30px;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
        background: $white url(../img/progr-bgn2.svg) center -120px no-repeat;
        background-size: 100% auto;
      }
    }

    &-3 {
      margin-bottom: 113px;
      padding: 0 21px 21px;
      min-height: 397px;
      background: $white url(../img/progr-bgn3.svg) center -5px no-repeat;
      background-size: 100% auto;

      @include media-breakpoint-down(lg) {
        min-height: 340px;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 53px;
        min-height: 480px;
      }

      @include media-breakpoint-down(sm) {
        min-height: 380px;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
        min-height: 95vw;
        background: $white url(../img/progr-bgn3.svg) center -150px no-repeat;
        background-size: 100% auto;
      }
    }

    &-4 {
      background: $white url(../img/progr-bgn4.svg) center -5px no-repeat;
      background-size: 100% auto;

      @include media-breakpoint-down(xs) {
        background: $white url(../img/progr-bgn4.svg) center -120px no-repeat;
        background-size: 100% auto;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: $black;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__blocks {
    margin-bottom: 62px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 50px;
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    max-width: calc(50% - 16px);
    height: 112px;
    justify-content: center;
    align-items: center;
    border: 1px solid $blue;
    border-radius: 20px;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
      max-width: 100%;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
      height: 100px;
    }

    &:hover {
      text-decoration: none;
      background: $blue;

      span {
        color: $white;
      }
    }

    span {
      width: 100%;
      max-width: 380px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      text-align: center;
      color: $blue;

      @include transition;

      @include media-breakpoint-down(xs) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }
  }
}
