mixin programms(data)
  .programms&attributes(attributes)
    .programms__blocks
      .row
        each title, index in data.titles
          .col-sm-6.col-lg-3
            a.programms__item(href="#", class="programms__item-" + (index+1))
              .programms__title= title
    .programms__btn-wrap
      each button in data.buttons
        a.programms__btn(href="#")
          span= button
