mixin plan(data)
  .plan&attributes(attributes)
    .row
      each val, key in data.texts
        .col-md-6.col-lg-4
          a(href="#").plan__item
            .plan__title.h4.text-green= key
            .plan__text= val
