.plan {

  [class^='col-'] {
    margin-bottom: 34px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }

  &__item {
    padding: 24px 36px;
    display: block;
    height: 100%;
    background: $white;
    border: 1px solid #bdbdbd;
    border-radius: 20px;

    &:hover {
      text-decoration: none;
    }

    @include media-breakpoint-down(xs) {
      padding: 24px 20px 30px;
    }
  }

  &__title {
  }

  &__text {
    color: rgba($black, .8);
  }
}
