.breadcrumb {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-flow: row wrap;
  }

  &__item {
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {

      .breadcrumb__link {
        pointer-events: none;
        color: $black2;
        background: $sky-blue4;
      }
    }
  }

  &__link {
    padding: 6px 6px 4px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: none;
    color: $white;
    background: $blue;
    border-radius: 4px;

    @include transition;

    &:hover {
      text-decoration: none;
      color: $white;
      background: $blue;
    }
  }
}
