mixin breadcrumb(data)
  .breadcrumb&attributes(attributes)
    ul.breadcrumb__list
      each val, index in data.links
        li.breadcrumb__item
          a.breadcrumb__link(href='#')= val
    +socials
