mixin news(data)
  .news&attributes(attributes)
    .row
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img1.jpg);")
          span.news__date 4 сентября 2020
          .news__title Международный молодежный форум «Евразия Global»-2020 получил эгиду ЮНЕСКО 
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img2.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4    
        a.news__item(href="#", style="background-image: url(./img/news-img3.jpg);")
          .news__date 4 сентября 2020
          .news__title Грантовый конкурс Росмолодежи в рамках «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img4.jpg);")
          .news__date 4 сентября 2020
          .news__title Международный молодежный форум «Евразия Global»-2020 получил эгиду ЮНЕСКО
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img5.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img6.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img7.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img8.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img9.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img10.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img11.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»
      .col-md-6.col-lg-4
        a.news__item(href="#", style="background-image: url(./img/news-img12.jpg);")
          .news__date 4 сентября 2020
          .news__title Открыта регистрация участников на форум «Евразия Global»                                                                      

