.news {

  [class^='col-'] {
    margin-bottom: 32px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }

  &__item {
    position: relative;
    padding: 27px 28px 30px;
    display: flex;
    overflow: hidden;
    min-height: 328px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

    &:hover {
      text-decoration: none;
    }

    @include media-breakpoint-down(xs) {
      padding: 27px 20px 30px;
      min-height: 300px;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: linear-gradient(1.99deg, #000000 1.54%, rgba(0, 0, 0, 0) 56.57%);
    }
  }

  &__date {
    position: relative;
    z-index: 1;
    padding: 7px 10px 3px;
    font-weight: 600;
    color: $white;
    background: $blue;
    border-radius: 4px;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-weight: 600;
    color: $white2;
  }
}
