// main news slider

.main-slider {

  .slick-arrow {
    z-index: 5;
    width: 48px;
    height: 48px;
    background: $blue;
    border-radius: 50px;
    transform: translate(0, -58%);

    @include transition;

    &:hover {
      background: $darken-blue;
    }

    &:before {
      display: none;
    }
  }

  .slick-slide {
    display: flex;
  }

  .slick-list {
    margin: 0 -29px;
    padding: 0 17px;

    @include media-breakpoint-down(xs) {
      margin: 0;
      padding: 0;
    }
  }

  .slick-prev {
    left: -21px;

    @include media-breakpoint-down(xs) {
      left: 15px;
    }

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 21px;
      margin: auto;
      width: 11px;
      height: 11px;
      content: '';
      border: solid $white;
      border-width: 0 0 3px 3px;
      transform: rotate(45deg);
    }
  }

  .slick-next {
    right: -21px;

    @include media-breakpoint-down(xs) {
      right: 15px;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 21px;
      bottom: 0;
      margin: auto;
      width: 11px;
      height: 11px;
      content: '';
      border: solid $white;
      border-width: 0 0 3px 3px;
      transform: rotate(-135deg);
    }
  }
}

.btn {
  padding: 13px 36px 8px;
  min-width: 160px;
  line-height: 1;
  font-weight: 600;
  border-radius: 4px;

  &.btn-green {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: #fff;
    background: $green;

    @include transition;

    &:hover {
      background: darken($green, 5%);
    }
  }
}

.form-group {
  position: relative;

  label {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 16px;
    margin-bottom: 0;
    font-size: 14px;
    color: $black2;
  }
}

.form-control {
  padding: 30px 16px 2px;
  height: auto;
  font-size: 20px;
  color: $black2;
  background: $sky-blue3;
  border: 1px solid $grey2;
  border-radius: 4px;

  &:focus {
    color: $black2;
    background: $sky-blue3;
    border: 1px solid $grey2;
    box-shadow: none;
  }

  @include placeholder($black3);
}

textarea.form-control {
  padding: 10px 16px;
  height: 144px;
  font-size: 14px;
  resize: none;

  &.textarea--default {
    padding-top: 30px;
    min-height: 226px;
  }
}

// about center slider
.about-slider {

  .slick-slide {
    padding: 64px 0;
    outline: none;
  }
}

/* Perfect Scrollbar */

.ps--active-y > .ps__rail-y {
  width: 6px;
  opacity: 1 !important;
  background-color: #e8e8e8;

  .ps__thumb-y {
    right: 0;
    width: 6px;
    background: $primary;
    border-radius: 0;
  }
}

.ps--active-x > .ps__rail-x {
  display: none;
}

/* Nav tabs */

.nav-tabs {

  &--days {
    border-bottom: 0;

    .nav-item {
      margin-right: 14px;
      margin-bottom: 10px;
    }

    .nav-link {
      padding: 8px 13.11px 3px;
      border: 1px solid $green;
      border-radius: 4px;

      .h6 {
        margin-bottom: 0;
        font-weight: 700;
        color: #000;
      }

      @include transition();

      &--inactive {
        border-radius: .23;
      }

      &.active {
        background: $green;

        .h6 {
          color: #fff;
        }
      }
    }
  }

  &--default {
    margin-bottom: 40px;
    border: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    .nav-item {
      margin-right: 33px;

      @include media-breakpoint-down(sm) {
        margin-right: 15px;
        margin-bottom: 10px;
      }

      &:last-child {

        @include media-breakpoint-down(sm) {
          margin-right: 0;
        }
      }
    }

    .nav-link {
      padding: 0;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 600;
      color: rgba(#000, .8);
      border: 0;
      border-bottom: 2px solid transparent;

      @include transition;

      &.active {
        border-color: $primary;
      }
    }
  }
}

/*  Fancybox */

.fancybox-slide--html .fancybox-close-small {
  top: 5px;
  right: 5px;
  padding: 0;
  width: 24px;
  height: 24px;
}
