mixin session-offer(data)
  .session-offer&attributes(attributes)
    .session-offer__content
      h5.session-offer__title У вас есть интересная тема для всеобщего обсуждения? Предложите ее!
      a.btn.btn-green.session-offer__btn(href="#session-offer", data-fancybox) Предложить сессию
