.session-offer {
  position: relative;
  margin-bottom: 24px;
  padding: 15px 36px 15px 27px;
  overflow: hidden;
  background: linear-gradient(89.95deg, #1060ff .04%, #9f09ff 99.96%);
  border-radius: 5px;

  @include media-breakpoint-down(xs) {
    padding: 20px;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: url(../img/session-offer-bg.svg) no-repeat center right;
    background-size: cover;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin-bottom: 0;
    color: #fff;
  }

  &__btn {
    margin-left: 20px;
    flex-shrink: 0;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
