.circle {
  position: relative;
  margin: 150px auto;
  width: 468px;
  height: 468px;
  background: url(../img/circle-logo.svg) center 47% no-repeat,
    url(../img/circle-border.svg) center no-repeat;

  @include media-breakpoint-down(lg) {
    margin: 30px 0 30px 48px;
    width: auto;
    height: auto;
    background: transparent;
    border-left: 1px dashed $green;
  }

  &__item {
    display: flex;

    &-top {
      position: absolute;
      top: -112px;
      left: 40%;
      max-width: 176px;
      flex-direction: column;

      @include media-breakpoint-down(lg) {
        position: relative;
        top: 0;
        left: -40px;
        margin-bottom: 30px;
        max-width: 100%;
        flex-direction: row;
        align-items: center;
      }

      .circle__title {
        margin-bottom: 28px;
        order: 1;

        @include media-breakpoint-down(lg) {
          margin-bottom: 0;
          max-width: 180px;
          order: 2;
        }
      }

      .circle__box {
        order: 2;

        @include media-breakpoint-down(lg) {
          margin-right: 20px;
        }
      }

      .circle__number {
        left: -8px;
      }
    }

    &-right {
      position: absolute;
      top: 38%;
      left: 92%;
      align-items: center;

      @include media-breakpoint-down(lg) {
        position: relative;
        top: 0;
        left: -40px;
        margin-bottom: 30px;
        max-width: 100%;
      }

      .circle__box {
        margin-right: 30px;

        @include media-breakpoint-down(lg) {
          margin-right: 20px;
        }
      }

      .circle__title {
        width: 170px;
        flex: 1;

        @include media-breakpoint-down(lg) {
          width: 100%;
          max-width: 170px;
        }
      }

      .circle__number {
        top: -3px;
        right: -3px;

        @include media-breakpoint-down(lg) {
          top: 0;
          right: auto;
          left: -8px;
        }
      }
    }

    &-bottom {
      position: absolute;
      bottom: -116px;
      left: 40%;
      max-width: 200px;
      flex-direction: column;

      @include media-breakpoint-down(lg) {
        position: relative;
        top: 0;
        left: -40px;
        margin-bottom: 30px;
        max-width: 100%;
        flex-direction: row;
        align-items: center;
      }

      .circle__box {
        margin-bottom: 32px;

        @include media-breakpoint-down(lg) {
          margin-right: 20px;
          margin-bottom: 0;
        }
      }

      .circle__title {

        @include media-breakpoint-down(lg) {
          width: 100%;
          max-width: 200px;
        }
      }

      .circle__number {
        top: -11px;
        right: 0;
        left: 0;
        margin: auto;

        @include media-breakpoint-down(lg) {
          top: 0;
          right: auto;
          left: -8px;
        }
      }
    }

    &-left {
      position: absolute;
      top: 38%;
      right: 91%;
      align-items: center;

      @include media-breakpoint-down(lg) {
        position: relative;
        top: 0;
        left: -40px;
        max-width: 100%;
      }

      .circle__box {
        order: 2;

        @include media-breakpoint-down(lg) {
          margin-right: 20px;
        }
      }

      .circle__title {
        width: 184px;
        flex: 1;
        order: 1;

        @include media-breakpoint-down(lg) {
          max-width: 180px;
          order: 2;
        }
      }

      .circle__number {
        top: -3px;
        left: -7px;

        @include media-breakpoint-down(lg) {
          top: 0;
          right: auto;
          left: -8px;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    color: $black2;
  }

  &__box {
    position: relative;
    width: 80px;
  }

  &__number {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    color: $white;
    background: $blue;
    border-radius: 30px;
  }

  &__icon {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: $green;
    border-radius: 50%;
  }
}
