mixin circle(data)
  .circle&attributes(attributes)
    .circle__item.circle__item-top
      .circle__box
        .circle__number= 1
        .circle__icon
          img(src="./img/circle-icon1.svg", alt="")
      .circle__title Зарегистрироваться в АИС«Молодёжь России»
    .circle__item.circle__item-right
      .circle__box
        .circle__number= 2
        .circle__icon
          img(src="./img/circle-icon2.svg", alt="")
      .circle__title Выбрать Форум «Евразия Global»
    .circle__item.circle__item-bottom
      .circle__box
        .circle__number= 3
        .circle__icon
          img(src="./img/circle-icon3.svg", alt="")
      .circle__title Дождаться подтверждения на электронную почту
    .circle__item.circle__item-left
      .circle__box
        .circle__number= 4
        .circle__icon
          img(src="./img/circle-icon4.svg", alt="")
      .circle__title Собрать необходимые вещи и приехать!
