
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/lang-switcher/lang-switcher.pug
include ../blocks/socials/socials.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/video/video.pug
include ../blocks/plan/plan.pug
include ../blocks/partners/partners.pug
include ../blocks/form/form.pug
include ../blocks/footer/footer.pug
include ../blocks/footer-cellar/footer-cellar.pug
include ../blocks/about-slider/about-slider.pug
include ../blocks/breadcrumb/breadcrumb.pug
include ../blocks/tracks/tracks.pug
include ../blocks/circle/circle.pug
include ../blocks/workshops/workshops.pug
include ../blocks/list/list.pug
include ../blocks/media-blocks/media-blocks.pug
include ../blocks/contact-info/contact-info.pug
include ../blocks/background/background.pug
include ../blocks/news/news.pug
include ../blocks/participants/participants.pug
include ../blocks/programms/programms.pug
include ../blocks/media-note/media-note.pug
include ../blocks/team/team.pug
include ../blocks/sandwich/sandwich.pug
include ../blocks/footer-nav/footer-nav.pug
include ../blocks/article/article.pug
include ../blocks/share/share.pug
include ../blocks/link-back/link-back.pug
include ../blocks/player/player.pug
include ../blocks/media-controls/media-controls.pug
include ../blocks/document/document.pug
include ../blocks/chat/chat.pug
include ../blocks/speaker/speaker.pug
include ../blocks/questions/questions.pug
include ../blocks/message/message.pug
include ../blocks/question/question.pug
include ../blocks/dialog/dialog.pug
include ../blocks/participant/participant.pug
include ../blocks/program/program.pug
include ../blocks/item/item.pug
include ../blocks/schedule/schedule.pug
include ../blocks/session/session.pug
include ../blocks/live/live.pug
include ../blocks/eurasia/eurasia.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/schedule-item/schedule-item.pug
include ../blocks/session-item/session-item.pug

include ../blocks/schedule-speaker/schedule-speaker.pug
include ../blocks/session-offer/session-offer.pug
include ../blocks/modal/modal.pug