.media-blocks {

  [class^='col-'] {
    margin-bottom: 32px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }

  &__item {
    padding: 30px 46px 40px 32px;
    height: 100%;
    background: #f2f2f2;
    border-radius: 20px;

    @include media-breakpoint-down(xs) {
      padding: 30px 20px 40px;
    }

    h4 {
      width: 100%;
      max-width: 354px;
    }

    p {
      font-size: 20px;
      line-height: 28px;
      color: $black2;
    }
  }
}
