mixin media-blocks(data)
  .media-blocks&attributes(attributes)
    .row
      .col-md-6
        .media-blocks__item
          h4.mb-20 Подписка на обновления сайта Международного молодежного форума «Евразия Global»
          p.mb-30 
            | Вы можете подписаться на ежедневную тематическую рассылку, отправив запрос на эл.адрес: 
            a(href="#") 
              b eurasiayouthforum@gmail.com
          p.mb-0 Для включения в базу рассылки необходимо направить запрос на электронную почту, указав в теле письма название СМИ, регион, сайт издания, имя представителя СМИ, его сотовый телефон, а также должность отправителя запроса и адрес почты для рассылки.<br> В теме письма указать: «Запрос на рассылку».  
      .col-md-6 
        .media-blocks__item
          h4.mb-20 Использование фотоматериалов пресс-службы форума
          p.mb-30
            | Банк фотографий высокого разрешения доступен по отдельному запросу на адрес: 
            a(href="#") 
              b eurasiayouthforum@gmail.com
          p.mb-0 В теме письма указать: «Запрос на фото».<br> Фотоматериалы форума также обновляются в ежедневном формате и доступны на сайте forumeurasia.ru
      .col-md-6
        .media-blocks__item
          h4.mb-20 Запрос на предоставление информации о делегациях регионов
          p.mb-30
            | Представители региональных телеканалов могут направить запрос в пресс-службу форума на электронную почту 
            a(href="#") 
              b eurasiayouthforum@gmail.com
            |  о предоставлении видеоматериалов о делегации города или региона для включения материала в ротацию новостных выпусков.
          p.mb-0 Срок и техническое задание предоставления материалов оговаривается по каждому запросу отдельно.<br>В теме письма указать «Запрос видеоматериала».<br>Требования к телеканалам: наличие официального свидетельства о регистрации СМИ.
      .col-md-6
        .media-blocks__item
          h4.mb-20 Запрос на комментарий спикера форума
          p.mb-30
            | Запрос на предоставление комментария спикера форума направляется на электронную почту 
            a(href="#") 
              b eurasiayouthforum@gmail.com
          p.mb-0 В теле письма указывается название СМИ, регион, сайт СМИ, имя спикера, тематика готовящегося материала, сам вопрос, а также имя, мобильный телефон и должность отправителя запроса.<br>В теме письма указать «Запрос комментария спикера»
