mixin chat(data)
  .chat&attributes(attributes)
    .chat__header 
      .h5.text-dark.font-weight-black.mb-0 Общий чат
    .chat__content
      +message({
        photo: 'user-1.jpg',
        name: 'Владислав Олегин',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько',
        modifier: 'active'
      }).message--active
      +message({
        photo: 'user-2.jpg',
        name: 'Игорь Валентиновский',
        content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены ',
      })
      +message({
        photo: 'user-3.jpg',
        name: 'Владислав Олегин',
        content: 'Каждый год горит Тайга Дальнего Востока. '
      })
      +message({
        photo: 'user-4.jpg',
        name: 'Викторианская Валентина',
        content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые Пора вводить специальную рубрику '
      }).message--current.message--answer
      +message({
        photo: 'user-1.jpg',
        name: 'Владислав Олегин',
        content: 'Пора вводить специальную рубрику извинения от Ивана'
      })
      +message({
        photo: 'user-2.jpg',
        name: 'Викторианская Валентина (Вы)',
        content: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет'
      }).message--current
      +message({
        photo: 'user-3.jpg',
        name: 'Владислав Олегин',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
      })
      +message({
        photo: 'user-4.jpg',
        name: 'Игорь Валентиновский',
        content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены ',
      })
      +message({
        photo: 'user-1.jpg',
        name: 'Владислав Олегин',
        content: 'Каждый год горит Тайга Дальнего Востока. '
      })
      +message({
        photo: 'user-2.jpg',
        name: 'Викторианская Валентина',
        content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые Пора вводить специальную рубрику '
      }).message--current.message--answer
      +message({
        photo: 'user-3.jpg',
        name: 'Владислав Олегин',
        content: 'Пора вводить специальную рубрику извинения от Ивана'
      })
      +message({
        photo: 'user-4.jpg',
        name: 'Викторианская Валентина (Вы)',
        content: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет'
      }).message--current
    .chat__footer
      form.chat__chat-form(action="#", method="POST")
        .chat__chat-form-left
          a.chat__chat-form-emoji(href="#")
          input.chat__chat-form-input(type="text", placeholder="Сообщение")
        .chat__chat-form-right
          button.chat__chat-form-btn(type="submit")
