.article {
  margin-top: 40px;
  margin-bottom: 100px;

  &__content {

    h2 {
      margin-bottom: 35px;

      @include media-breakpoint-down(sm) {
        font-size: 26px;
      }
    }

    img {
      margin: 35px 0;
      display: block;
      max-width: 100%;
    }

    blockquote {
      padding: 30px 0;
      font-size: 20px;
      font-weight: 700;
      border-top: 1px solid #0066ff;
      border-bottom: 1px solid #0066ff;

      @include media-breakpoint-down(md) {
        padding: 20px 0;
        font-size: 16px;
      }
    }

    p {
      margin: 30px 0;
      font-size: 20px;

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }

  &__footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    margin-bottom: 0;
    color: rgba(#000, .5);
  }
}
