mixin socials(data)
  ul.socials&attributes(attributes)
    li.socials__item
      a.socials__link(href="#")
        img(src="./img/social-vk.svg", alt="")
    li.socials__item
      a.socials__link(href="#")
        img(src="./img/social-fb.svg", alt="")
    li.socials__item
      a.socials__link(href="#")
        img(src="./img/social-inst.svg", alt="")
