.socials {
  margin: 0 -12px 10px 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;

  &--main {
    position: absolute;
    top: 6px;
    right: 15px;
    margin: 0 -12px;

    @include media-breakpoint-down(sm) {
      position: static;
      padding-bottom: 20px;
    }
  }

  &__item {
    padding: 0 12px;
  }
}
