.background {
  position: relative;
  z-index: 1;

  &__content {
    position: relative;
    z-index: 2;
  }

  &--main {
    background: transparent url(../img/background-main.png) top center no-repeat;

    &:after {

      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(#fff, .4);
      }
    }
  }

  &--main-secondary {
    background: transparent url(../img/background-main2.png) center -60px no-repeat;
  }

  &--about {
    background: transparent url(../img/background-about.png) top center no-repeat;

    &:after {

      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(#fff, .4);
      }
    }
  }

  &--media {
    position: relative;
    z-index: 1;
  }

  &__image--media {
    position: absolute;
    z-index: 1;
    top: -220px;
    left: 0;
    width: 100%;
    height: 1384px;
    background: transparent url(../img/background-media.png) top center no-repeat;
  }

  &__container--media {
    position: relative;
    z-index: 2;
  }

  &--news {
    background: transparent url(../img/background-news.png) top center no-repeat;
  }

  &--participants {
    background: transparent url(../img/background-participants.png) top center no-repeat;

    &:after {

      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(#fff, .4);
      }
    }
  }

  &--cabinet {
    background: transparent url(../img/background-cabinet.svg) top -470px left -1400px no-repeat;

    @media (max-width: 1599px) {
      background: transparent;
    }
  }
}
