mixin team(data)
  .team.row&attributes(attributes)
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type1
        img.team__image-bg(src="./img/team-img-bg1.png", alt="")
        img.team__image(src="./img/team-img1.png", alt="")
      .team__name Сергей<br> Молчанов
      .team__descr Куратор от Правительства Оренбургской области, Исполняющий обязанности директора департамента молодежной политики Оренбургской области
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type2
        img.team__image-bg(src="./img/team-img-bg2.png", alt="")
        img.team__image(src="./img/team-img2.png", alt="")
      .team__name Алексей<br> Любцов
      .team__descr Куратор Форума
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type3
        img.team__image-bg(src="./img/team-img-bg3.png", alt="")
        img.team__image(src="./img/team-img3.png", alt="")
      .team__name Елена<br> Мондрус
      .team__descr Директор форума 
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type4
        img.team__image-bg(src="./img/team-img-bg4.png", alt="")
        img.team__image(src="./img/team-img4.png", alt="")
      .team__name Сергей<br> Дужников
      .team__descr Заместитель директора
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type5
        img.team__image-bg(src="./img/team-img-bg5.png", alt="")
        img.team__image(src="./img/team-img5.png", alt="")
      .team__name Дарья<br> Капитан
      .team__descr Заместитель директора
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type6
        img.team__image-bg(src="./img/team-img-bg6.png", alt="")
        img.team__image(src="./img/team-img6.png", alt="")
      .team__name Антон<br> Волков
      .team__descr Заместитель директора 
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type7
        img.team__image-bg(src="./img/team-img-bg7.png", alt="")
        img.team__image(src="./img/team-img7.png", alt="")
      .team__name Александр<br> Почкин
      .team__descr Координатор партнерских площадок
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type8
        img.team__image-bg(src="./img/team-img-bg8.png", alt="")
        img.team__image(src="./img/team-img8.png", alt="")
      .team__name Евгения<br> Любимова
      .team__descr Волонтерский корпус
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type9
        img.team__image-bg(src="./img/team-img-bg9.png", alt="")
        img.team__image(src="./img/team-img9.png", alt="")
      .team__name Анна<br> Шелепень
      .team__descr Служба по работе с участниками (РФ) 
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type10
        img.team__image-bg(src="./img/team-img-bg10.png", alt="")
        img.team__image(src="./img/team-img10.png", alt="")
      .team__name Сергей<br> Орлов
      .team__descr Служба по работе с иностранными участниками
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type11
        img.team__image-bg(src="./img/team-img-bg11.png", alt="")
        img.team__image(src="./img/team-img11.png", alt="")
      .team__name Игорь<br> Самсонов
      .team__descr Служба логистики 
    .team__item.col-md-6.col-lg-4
      .team__image-wrap.team__image-wrap--type12
        img.team__image-bg(src="./img/team-img-bg9.png", alt="")
        img.team__image(src="./img/team-img12.png", alt="")
      .team__name Елизавета<br> Колчина
      .team__descr Служба протокола
