.team {
  flex-flow: row wrap;

  &__item {
    margin-bottom: 44px;
  }

  &__image-wrap {
    position: relative;
    margin-bottom: 17px;

    &--type2 {

      .team__image {
        top: 24px;
      }
    }

    &--type5 {

      .team__image {
        top: 24px;
      }
    }

    &--type8 {

      .team__image {
        top: 24px;
      }
    }

    &--type11 {

      .team__image {
        top: 24px;
      }
    }
  }

  &__image {
    position: absolute;
    top: 18px;
    left: 27px;
  }

  &__name {
    margin-bottom: 18px;
    padding-left: 44px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: $black2;
  }

  &__descr {
    padding-left: 44px;
  }
}
