.participant {
  margin-bottom: 10px;
  display: flex;

  @include transition;

  &:hover {
    opacity: .8;
    text-decoration: none;
    color: $dark;
  }

  &__photo {
    margin-top: 3px;
    margin-right: 12px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__content {
  }

  &__company {
    margin-bottom: 0;
  }
}
