mixin participant(data)
  a.participant(href="#")&attributes(attributes)
    .participant__photo(style="background-image: url(./img/" + data.photo + ");")
    .participant__content
      p.sm.mb-0.text-primary= data.name
      p.sm.participant__company= data.company
