mixin footer-nav(data)
  .footer-nav&attributes(attributes)
    ul.footer-nav__list
      li.footer-nav__item
        a.footer-nav__link(href="#") Новости
      li.footer-nav__item
        a.footer-nav__link(href="#") О форуме
      li.footer-nav__item
        a.footer-nav__link(href="#") Участникам
    ul.footer-nav__list
      li.footer-nav__item
        a.footer-nav__link(href="#") Для СМИ
      li.footer-nav__item
        a.footer-nav__link(href="#") Команда форума
      li.footer-nav__item
        a.footer-nav__link(href="#") Задать вопрос
