.footer-nav {
  display: flex;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  @include media-breakpoint-down(xs) {
    display: block;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:first-of-type {
      padding-right: 230px;

      @include media-breakpoint-down(md) {
        padding-right: 100px;
      }

      @include media-breakpoint-down(xs) {
        padding-right: 0;
      }
    }
  }

  &__item {
    padding-bottom: 16px;
  }

  &__link {
    font-weight: 600;
    color: $black2;

    @include transition;

    &:hover {
      text-decoration: none;
    }
  }
}
