.item {
  position: absolute;
  padding: 16px 12px 16px 16px;
  display: flex;
  width: 100%;
  height: 85px;
  flex-direction: column;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;

  @include transition;

  @include media-breakpoint-down(md) {
    min-width: 600px;
  }

  &:hover {
    z-index: 2;
    height: auto !important;
    background: #fff;
    border-color: transparent;
    box-shadow: 0 4px 100px rgba(0, 0, 0, .25);

    &:before {
      border-color: $secondary;
    }

    .item__dscr {
      position: static;
      opacity: 1;
    }

    .item__additional {
      display: block;
    }

    .item__title {
      font-weight: 700;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    position: absolute;
    top: -4px;
    right: 0;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    @include transition;

    @include media-breakpoint-down(md) {
      right: 0;
    }

    &--add {
      background: $secondary url(../img/program-plus.svg) no-repeat center left 8px;
    }

    &--remove {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #bdbdbd;

      &:after {
        display: block;
        width: 15px;
        height: 1px;
        content: '';
        background: #fff;
      }
    }

    &:hover {
      opacity: .7;
    }
  }

  &__header {
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex-shrink: 0;
  }

  &__time {
    font-weight: 700;
    color: $primary;
  }

  &__subtitle {
    margin-left: 15px;
  }

  &__header-right {
  }

  &__place {
    color: $primary;
  }

  &__title {
    color: #000;
  }

  &__dscr {
    margin-top: 6px;
    opacity: 0;
    color: rgba(#000, .5);
  }

  &__additional {
    margin-top: 27px;
    display: none;
  }

  &--break {

    &:before {
      background: rgba(#75c043, .2);
    }

    .item__button {
      display: none;
    }
  }

  &--row {

    .item__wrapper {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .item__header {
      margin-right: 23px;
      margin-bottom: 0;
    }

    .item__button {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--conflicting {
  }

  &--inactive {
    opacity: .5;
    pointer-events: none;
    border-color: rgba(#000, .1);

    .item__time {
      color: #000;
    }

    .item__place {
      color: #000;
    }
  }
}
