mixin item(data)
  .item(data-start=data.start, data-end=data.end)&attributes(attributes)  
    .item__wrapper
      .item__header
        .p.sm.item__time
        if data.place
          .p.sm.ml-20.item__place= data.place
      .item__content
        .p.item__title= data.title
    .item__additional
      +participant({
        photo: 'user-1.jpg',
        name: 'Валидаров Константин',
        company: 'Mail.ru group'
      })
      +participant({
        photo: 'user-2.jpg',
        name: 'Иринова Екатерина',
        company: 'Joxi'
      })
      p.sm.mt-10.mb-0
        a(href="#") Подробнее
