mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrap
        .footer__left
          p.lg.mb-30.text-center.text-md-left © 2020. Международный молодежный образовательный форум «Евразия Global»
          +footer-nav
        .footer__right
          +socials.mb-35
          .footer__link
            a.sm(href="#") Политика конфиденциальности
          .footer__link
            a.sm(href="#") Пользовательское соглашение
          .d-flex.align-items-center.mt-20
            +lang-switcher.lang-switcher--footer
            a.btn.btn-primary(href="#") Регистрация
