.footer {
  padding: 36px 0 45px;

  &__wrap {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__left {

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      align-items: center;
    }
  }

  &__link {

    a {
      color: $blue2;
    }
  }
}
