.document {
  padding: 16px 22px;
  display: flex;
  background: rgba(#bdbdbd, .1);
  border-radius: 4px;

  @include transition;

  &:hover {
    opacity: .8;
    text-decoration: none;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 20px;
  }

  &__icon {
    margin-right: 22px;
    width: 19px;
    height: 26px;
    flex-shrink: 0;
    background: url(../img/document.svg) no-repeat center;
    background-size: contain;
  }

  &__content {
  }

  &__size {
    margin-bottom: 0;
    color: rgba(#000, .5);
  }
}
