mixin document(data)
  a.document(href="#")&attributes(attributes)
    .document__icon
    .document__content
      p.mb-10.text-primary Общий список нововведений в образование 2020
      p.sm.document__size PDF 3.5 mb
