mixin partners(data)
  .partners&attributes(attributes)
    .partners__title.h2.mb-65 Партнеры
    .partners__logos
      a(href="#").partners__logo
        img(src="./img/partners-img1.svg", alt="")
      a(href="#").partners__logo
        img(src="./img/partners-img2.svg", alt="")
      a(href="#").partners__logo
        img(src="./img/partners-img3.svg", alt="")
