.partners {

  &__logos {
    padding: 50px 0;
    display: flex;
    border-top: 1px solid $grey3;

    @include media-breakpoint-down(sm) {
      padding: 0;
      flex-direction: column;
    }
  }

  &__logo {
    display: flex;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $grey4;

    &:hover {
      text-decoration: none;
    }

    @include media-breakpoint-down(md) {
      padding: 0 40px;
    }

    @include media-breakpoint-down(sm) {
      padding: 42px 0;
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid $grey3;
    }

    &:last-of-type {
      border-right: 0;
      border-bottom: 0;
    }
  }
}
