.program {
  position: relative;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;

    &:after {

      @include media-breakpoint-down(md) {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        display: block;
        width: 25px;

        @include transition;

        height: 100%;
        content: '';
        background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  &__time-wrapper {
    position: relative;
    display: flex;
    width: 25px;
    flex-direction: column;
    border-left: 1px solid #acb5bd;
    border-right: 1px solid #acb5bd;
  }

  &__time {
    position: relative;
    right: 60px;
    padding: 2.5px 0 2.5px 4px;
    width: 61px;
    min-height: 100px;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    color: #495057;
    transform: rotate(90deg);
  }

  &__content {
    position: relative;
    padding-top: 20px;
    padding-left: 15px;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      overflow: auto;
      width: calc(100% - 46px);
    }
  }

  &__items-row {
    position: absolute;
    margin-left: -7px;
    display: flex;
    width: calc(100% + 14px);

    .item {

      @include media-breakpoint-down(md) {
        min-width: 300px;
      }

      @include media-breakpoint-down(sm) {
        min-width: 200px;
      }

      &--solved {
        position: relative;
        top: 0 !important;
        margin: 0 7px;
      }
    }
  }
}
