mixin program(data)
  .program&attributes(attributes)
    .program__wrapper
    
      //Дата начала и окончания дня указываются в соответствующих data-атрибутах, на их основании временной диапазон дня расписывается с шагом в полчаса
      .program__time-wrapper(data-day-start="10", data-day-end="12.5")
      
      //У каждого события (.item) нужно указать время начала (data-start) и время конца (data-end) в десятичном формате. На основании этих данных автоматически строится сетка мероприятия.
      .program__content
        +item({
          title: 'Название сессии онлайн в несколько строк',
          start: '10',
          end: '11',
          place: 'Зал1'
        }).item--inactive.item--conflicting
        +item({
          title: 'Название сессии онлайн в несколько строк',
          start: '10',
          end: '11',
          place: 'Зал1'
        }).item--inactive.item--conflicting
        +item({
          title: 'Название сессии онлайн в несколько строк',
          start: '10',
          end: '11',
          place: 'Зал1'
        }).item--inactive.item--conflicting
        +item({
          title: 'Спортивные состязания без лайв съмки',
          start: '11.085',
          end: '12.5',
          place: 'Зал2'
        })
        //div
          +item({
            title: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Системное развитие и внедрение цифровых арственной политики. Системное развитие и внедрение цифровых т',
            start: '11.75',
            end: '12.5',
            place: 'Зал2'
          }).item--conflicting
          +item({
            title: 'Спортивные состязания без лайв съмки',
            start: '11.75',
            end: '12.33',
            place: 'Зал2'
          }).item--conflicting
          +item({
            title: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Системное развитие и внедрение цифровых арственной политики. Системное развитие и внедрение цифровых Формирование программ развития цифровой экономики в регионах является одним из приоритетных ',
            start: '11.75',
            end: '12.5',
            place: 'Зал1'
          }).item--conflicting
        //div
          +item({
            title: 'Установочная лекция по профилю смены',
            start: '16',
            end: '17',
            place: 'Жёлтый лекторий'
          }).item--conflicting
          +item({
            title: 'Установочная лекция по профилю смены',
            start: '16',
            end: '17',
            place: 'Жёлтый лекторий'
          }).item--conflicting
          +item({
            title: 'Установочная лекция по профилю смены',
            start: '16',
            end: '17',
            place: 'Жёлтый лекторий'
          }).item--conflicting
          +item({
            title: 'Нетворкинг',
            start: '18.5',
            end: '19.34',
            place: 'Жёлтый лекторий'
          })
          +item({
            title: 'Перерыв',
            start: '19.34',
            end: '19.67'
          }).item--break.item--row
          +item({
            title: 'Открытие форума',
            start: '21',
            end: '22',
            place: 'Жёлтый лекторий'
          })
          +item({
            title: 'Перерыв',
            start: '22',
            end: '23'
          }).item--break.item--row
          +item({
            title: 'Командная рефлексия',
            start: '23',
            end: '23.5'
          }).item--row
