extends ../templates/template.pug
block content
  .background.background--about
    .background__content
      +header
      .container
        +breadcrumb({
          links: ['Главная', 'О форуме']
        })
        h2.mb-30 О форуме «Евразия Global»
        .row
          .col-md-6
            p.lg.mb-80 Пятый юбилейный Международный молодежный форум «Евразия Global» является площадкой для практико-ориентированного диалога молодых представителей Российской Федерации и иностранных государств. В 2020 году форум пройдет под эгидой ЮНЕСКО, а участниками события станут 400 представителей молодежи Российской Федерации и 400 молодых граждан иностранных государств.
        +plan({
          texts: {
            'Деловая программа': 'диалог и взаимодействие между участниками в контексте целей Форума, совместная генерация инициатив, профессиональное и личностное развитие каждого участника.',
            'Главная медийная встреча дня': 'Дискуссия, TED Talks, интервью и ток-шоу с приглашенными гостями по основной теме дня, освещение актуальной общемировой повестки',
            'Тематические лаболатории': '«Сообщества», «Международное сотрудничество», «Устойчивые проекты», «Креативна экономика»',
            'Площадки партнеров и площадки soft-skills компетенций': 'Встречи с экспертами, мастер-классы, тренинги осознанности, школы мышления',
            'ПРОГРАММА 2.0': 'Профессиональные, культурные, тематические активности, создающиеся участниками для участников',
            'Технологический нетворкинг': 'Возможность получить материалы тематических площадок, возможность быстрого обмена контактами, международные голосования на главных медийных встречах',
          }
        }).mb-40
        .row.mb-50
          .col-md-4.pb-20.pb-md-0
            +participants
          .col-md-6.offset-md-2
            +list
      section.about-slider__container    
        +about-slider
      .container  
        +programms({
          titles: ['Деловая программа', 'Официальные события', 'Пространство для самовыражения и взаимодействия', 'Культурная программа'],
          buttons: ['среда для развития молодежи', 'практико-ориентированные коммуникативные площадки']
        }).mb-70 
        +partners
      +form
      footer
        +footer
        +footer-cellar
