extends ../templates/template.pug
block content
  .background.background--cabinet
    .background__content
      +header
      .cabinet
        .container
          +breadcrumb({
            links: ['Главная', 'Личный кабинет']
          })
          h2.mb-25 Личный кабинет
          .row.flex-column-reverse.flex-lg-row
            .col-lg-9
              ul.nav.nav-tabs.nav-tabs--default(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#cabinet1', role='tab') Профиль
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#cabinet2', role='tab') Мое расписание
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#cabinet3', role='tab') Программа 2.0
              .tab-content
                #cabinet1.tab-pane.fade.show.active(role='tabpanel')
                  .cabinet__info-wrapper
                    .cabinet__info
                      .cabinet__info-left
                        p.sm.cabinet__info-header Email
                      .cabinet__info-right
                        p.lg.mb-0.text-dark chertilov+11@raec.ru
                    .cabinet__info
                      .cabinet__info-left
                        p.sm.cabinet__info-header Контактный телефон
                      .cabinet__info-right
                        p.lg.mb-0.text-dark +7 985 668 99 88
                    .cabinet__info
                      .cabinet__info-left
                        p.sm.cabinet__info-header Статус
                      .cabinet__info-right
                        p.lg.mb-0.text-dark Участник
                    .cabinet__info
                      .cabinet__info-left
                        p.sm.cabinet__info-header Страна проживания
                      .cabinet__info-right
                        p.lg.mb-0.text-dark Россия
                    .cabinet__info
                      .cabinet__info-left
                        p.sm.cabinet__info-header О себе
                      .cabinet__info-right
                        p.lg.mb-0.text-dark Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тотДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый
                #cabinet2.tab-pane.fade(role='tabpanel')
                  .row
                    .col-lg-8
                      .cabinet__schedule
                        .cabinet__schedule-item
                          h4.cabinet__schedule-date 3 сентября
                          +schedule-item({
                            modifier: 'speakers'
                          })
                        .cabinet__schedule-item
                          h4.cabinet__schedule-date 4 сентября
                          +schedule-item
                #cabinet3.tab-pane.fade(role='tabpanel')
                  .row
                    .col-lg-8
                      +session-offer
                      +session-item({
                        title: 'Длинное название сессии для наглядности отображения контента',
                        dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Системное развитие и внедрение цифровых арственной политики. Системное развитие и внедрение цифровых т',
                        modifier: 'interesting'
                      })
                      +session-item({
                        title: 'Длинное название сессии для наглядности',
                        dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской'
                      })
            .col-lg-3
              .cabinet__user
                .cabinet__user-photo(style="background-image: url(./img/cabinet-user-1.png")
                h4.mb-5.text-dark Виктория Моршанская
                p.cabinet__user-city Россия
                p.cabinet__user-status Участник
                a.cabinet__user-edit(href="#") Редактировать
    footer
      +footer
      +footer-cellar
    +modal({
      modifier: 'session-offer'
    })#session-offer
