extends ../templates/template.pug
block content
  +header
  .container
    +breadcrumb({
      links: ['Главная', 'Программа', 'Название сессии']
    })
    +link-back({
      title: 'Название сессии'
    })
  .live
    .container
      .row.no-gutters
        .col-lg-8
          +player
          +media-controls
          p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены
          h5 Материалы
          .row
            .col-sm-6
              +document
            .col-sm-6
              +document
        .col-lg-4
          +chat
    .live__bottom
      .container
        .row.no-gutters
          .col-xl-6
            .mr-20.mr-lg-40
              h5.my-30 Спикеры
              .row
                .col-sm-6.col-lg-4
                  +speaker({
                    photo: 'user-1.jpg',
                    type: 'Ведущий',
                    dscr: 'Партнер, Speedinvest Партнер, Speedinvest Партнер, Speedinvest'
                  })
                .col-sm-6.col-lg-4
                  +speaker({
                    photo: 'user-2.jpg',
                    type: 'Спикер',
                    dscr: 'Партнер, Speedinvest'
                  })
                .col-sm-6.col-lg-4
                  +speaker({
                    photo: 'user-3.jpg',
                    type: 'Спикер',
                    dscr: 'Партнер, Speedinvest'
                  })
                .col-sm-6.col-lg-4
                  +speaker({
                    photo: 'user-1.jpg',
                    type: 'Ведущий',
                    dscr: 'Партнер, Speedinvest Партнер, Speedinvest Партнер, Speedinvest'
                  })
                .col-sm-6.col-lg-4
                  +speaker({
                    photo: 'user-2.jpg',
                    type: 'Спикер',
                    dscr: 'Партнер, Speedinvest'
                  })
                .col-sm-6.col-lg-4
                  +speaker({
                    photo: 'user-3.jpg',
                    type: 'Спикер',
                    dscr: 'Партнер, Speedinvest'
                  })
          .col-xl-6
            +questions
    .container
      +partners
  +form
  footer
    +footer
    +footer-cellar
