extends ../templates/template.pug
block content
  .background.background--main
    .background__content
      +header
      .container.position-relative
        +socials.socials--main
        .row
          .col-md-7
            h1.mb-50 Международный молодежный форум «Евразия Global»
        .row
          .col-md-5
            p.lg.mb-50 Международный молодежный форум «Евразия Global» пройдёт с 02 по 08 сентября 2020 года в Оренбургской области
        a.btn.btn-primary(href="#") Узнать больше
        h2.mt-80.text-sm-blue.text-black2 Новости
        +main-slider
        h2.text-sm-white.text-black2.mt-80 О форуме «Евразия Global»
        .row
          .col-md-6
            p.lg.text-sm-white.text-black2.mb-80 Пятый юбилейный Международный молодежный форум «Евразия Global» является площадкой для практико-ориентированного диалога молодых представителей Российской Федерации и иностранных государств. В 2020 году форум пройдет под эгидой ЮНЕСКО, а участниками события станут 400 представителей молодежи Российской Федерации и 400 молодых граждан иностранных государств.
        +video
        h3.mt-80.mb-45 В рамках каждого тематического дня:
        +plan({
          texts: {
            'Деловая программа': 'диалог и взаимодействие между участниками в контексте целей Форума, совместная генерация инициатив, профессиональное и личностное развитие каждого участника.',
            'Главная медийная встреча дня': 'Дискуссия, TED Talks, интервью и ток-шоу с приглашенными гостями по основной теме дня, освещение актуальной общемировой повестки',
            'Тематические лаболатории': '«Сообщества», «Международное сотрудничество», «Устойчивые проекты», «Креативна экономика»',
            'Площадки партнеров и площадки soft-skills компетенций': 'Встречи с экспертами, мастер-классы, тренинги осознанности, школы мышления',
            'ПРОГРАММА 2.0': 'Профессиональные, культурные, тематические активности, создающиеся участниками для участников',
            'Технологический нетворкинг': 'Возможность получить материалы тематических площадок, возможность быстрого обмена контактами, международные голосования на главных медийных встречах',
          }
        })
  .background.background--main-secondary.pt-40
    .container  
      .row.mb-60
        .col-md-5.col-lg-4.pb-20.pb-md-0
          +participants
        .col-md-6.offset-md-1.col-lg-6.offset-lg-2
          +list
      +programms({
        titles: ['Деловая программа', 'Официальные события', 'Пространство для самовыражения и взаимодействия', 'Культурная программа'],
        buttons: ['среда для развития молодежи', 'практико-ориентированные коммуникативные площадки']
      }).mb-60.mb-md-120 
      +partners
  +form
  footer
    +footer
    +footer-cellar
