extends ../templates/template.pug
block content
  +header
  .container
    +breadcrumb({
      links: ['Главная', 'Для СМИ']
    })
    h2.mb-45 Для СМИ
    .row
      .col-lg-4
        h3.mb-25 Аккредитация СМИ
        p.lg.mb-25 Для работы на Международном молодежном форуме «Евразия Global», представителям средств массовой информации необходимо быть аккредитованным пресс-службой форума.
        p.lg.mb-35 Заявки на участие в мероприятии представителей СМИ подаются в 
          a(href="#") Яндекс.Форме
        h4.text-blue.mb-30 Контактные данные для представителей СМИ
        p.text-grey.font-weight-semibold Для представителей федеральных и иностранных СМИ
        +contact-info({
          image: 'contact-info-img1.png',
          name: 'Анастасия Потычкина',
          phone: '+7 (926) 278 32 93'
        }).mb-35
        p.text-grey.font-weight-semibold Для представителей региональных СМИ
        +contact-info({
          image: 'contact-info-img2.png',
          name: 'Анастасия Гомозова',
          phone: '+7 (906) 844 05 01'
        }).mb-50
        p.font-weight-semibold 
          | По всем вопросам ответим на почту: 
          a(href="#") eurasiayouthforum@gmail.com
      .col-lg-7.offset-lg-1
        +media-note
  .background.background--media
    .background__image--media
  .container.background__container--media.pt-40
    +media-blocks.mb-25
    +partners
  +form
  footer
    +footer
    +footer-cellar
