extends ../templates/template.pug
block content
  .background.background--news
    +header
    .container
      +breadcrumb({
        links: ['Главная', 'Новости']
      })
      h2.mb-25 Новости
      +news
      .text-center.mb-125
        a.btn.btn-outline-primary(href="#") Загрузить еще
      +partners
    +form
    footer
      +footer
      +footer-cellar
