extends ../templates/template.pug
block content
  .background.background--participants
    .background__content
      +header
      .container
        +breadcrumb({
          links: ['Главная', 'Участникам']
        })
        .row
          .col-md-7
            h2.mb-30 Участникам
        .row
          .col-md-6
            p.lg.mb-45 Международный молодежный образовательный форум «Евразия Global» нацелен на создание площадки для практико– ориентированного диалога молодых представителей Российской Федерации и иностранных государств
        .row
          .col-md-4
            p.lg.mb-45 В числе участников форума молодые лидеры общественного мнения из России и зарубежных стран, молодые специалисты и профессионалы, осуществляющие свою деятельность в сфере международного молодежного сотрудничества, представители иностранной молодежи, заинтересованные в активном взаимодействии и сотрудничестве с российской молодежью.
        .row
          .col-md-4
            p.lg.mb-75 
              b Для обеспечения максимально эффективного взаимодействия между участниками в деловую программу включены тематические деловые площадки.
        .row
          .col-md-10
            h3.mb-55 Исходя из интересов участников было сформировано 4 тематических трека:
        +tracks({
          items: {
            '1': 'Социальное проектирование',
            '2': 'Культура и искусство',
            '3': 'Новые медиа',
            '4': 'Практико-ориентированный блок для участников из стран СНГ',
          }
        }).mb-15
        a.btn.btn-primary.mb-70(href="#") Подробнее о форуме
        h3.mb-30 Стать участником
        +circle
        h3.pt-40.mb-40 Новые возможности
        .row.mb-100
          .col-md-6
            p.mb-40 «Евразия Global» подготовила нововведения: интерактивные сервисы для деловой программы. У участников появится возможность голосовать за активность деловой или культурной программы форума.
            p.mb-40 В 2019 году бейджи будут представлены в новом качестве – в пластиковый бейдж вшита RFID-метка для получения доступа к интересным технологиям: от голосований в реальном времени до внесения собственных предложений через специальные терминалы. Также бейдж будет содержать QR-визитку, что облегчит обмен контактами.
            p.mb-40 Через интерактивные стойки информации, которыми будет оборудована площадка форума, участники смогут получать материалы.
            p.mb-0 Еще одна возможность RFID стойки – биометрическое распознавание фотографий участника из облака фотопотока форума и отправка фотографий, на которых он изображен, на электронную почту.
          .col-md-6
            +workshops
        +partners
      +form
      footer
        +footer
        +footer-cellar
