extends ../templates/template.pug
block content
  +header
  .container
    +breadcrumb({
      links: ['Главная', 'Программа', 'Название сессии']
    })
    h2.mb-30 Программа
    .schedule
      .schedule__header
        ul.nav.nav-tabs.nav-tabs--days(role='tablist')
          li.nav-item
            a.nav-link(data-toggle='tab', href='#day1', role='tab') 
              .h6 02.09
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#day2', role='tab') 
              .h6 03.09
          li.nav-item
            a.nav-link(data-toggle='tab', href='#day3', role='tab') 
              .h6 04.09
          li.nav-item
            a.nav-link(data-toggle='tab', href='#day4', role='tab') 
              .h6 05.09
          li.nav-item
            a.nav-link(data-toggle='tab', href='#day5', role='tab') 
              .h6 06.09
          li.nav-item
            a.nav-link(data-toggle='tab', href='#day6', role='tab') 
              .h6 07.09
          li.nav-item
            a.nav-link(data-toggle='tab', href='#day7', role='tab') 
              .h6 08.09

      .tab-content
        #day1.tab-pane.fade(role='tabpanel')
        #day2.tab-pane.fade.show.active(role='tabpanel')
          .schedule__calendar.left
            +program
        #day3.tab-pane.fade(role='tabpanel')
          .schedule__calendar.left
            +program
        #day4.tab-pane.fade(role='tabpanel')
        #day5.tab-pane.fade(role='tabpanel')
        #day6.tab-pane.fade(role='tabpanel')
        #day7.tab-pane.fade(role='tabpanel')
    +partners
  +form
  footer
    +footer
    +footer-cellar
