extends ../templates/template.pug
block content
  +header
  .container
    +breadcrumb({
      links: ['Главная', 'Программа', 'Название сессии']
    })
    +link-back({
      title: 'Название сессии'
    })
    .session
      +dialog
      .row.no-gutters
        .col-lg-8
          .pr-lg-30
            +media-controls
            p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены
            h5.mt-25 Материалы
            .row
              .col-sm-6
                +document
              .col-sm-6
                +document
        .col-lg-3.offset-lg-1
          .h5.mt-30.mt-lg-50.mb-30 Участники
          +participant({
            photo: 'user-1.jpg',
            name: 'Валидаров Константин',
            company: 'Mail.ru group'
          })
          +participant({
            photo: 'user-2.jpg',
            name: 'Иринова Екатерина',
            company: 'Joxi'
          })
          +participant({
            photo: 'user-3.jpg',
            name: 'Валидаров Константин',
            company: 'Mail.ru group'
          })
    +partners
  +form
  footer
    +footer
    +footer-cellar
