extends ../templates/template.pug
block content
  .background.background--media
    +header
    .container
      +breadcrumb({
        links: ['Главная', 'Для СМИ']
      })
      h2.mb-45 Команда форума
      +team.mb-70
      +partners
    +form
    footer
      +footer
      +footer-cellar
