mixin lang-switcher(data)
  ul.lang-switcher&attributes(attributes)
    li.lang-switcher__item.is-active
      a.lang-switcher__link(href="#") Ru
    li.lang-switcher__item
      a.lang-switcher__link(href="#") En
