.lang-switcher {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;

  &--footer {
    margin-right: 10px;
  }

  &__item {
    padding: 0 5px;

    &.is-active {

      .lang-switcher__link {
        text-decoration: none;
        color: $black2;
        border-color: $green;
      }
    }
  }

  &__link {
    padding: 13px 10px 8px;
    display: block;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: $green2;
    border: 1px solid $green3;
    border-radius: 50%;

    @include transition;

    &:hover {
      text-decoration: none;
      color: $black2;
      border-color: $green;
    }
  }
}
