mixin footer-cellar(data)
  .footer-cellar&attributes(attributes)
    .container
      .footer-cellar__wrap
        p.lg.mb-0 г.Оренбург ул. Девятого января 64
        p.lg.mb-0 
          b +7 (3532) 78-60-21
