.footer-cellar {
  padding: 16px 0 22px;
  border-top: 1px solid $grey3;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
}
