.contact-info {
  display: flex;
  align-items: center;

  &__image {
    margin-right: 16px;
    width: 100%;
    max-width: 64px;
    border-radius: 50%;
  }

  &__contacts {
    flex: 1;
  }

  &__name {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: $black2;
  }

  &__phone {
    font-size: 20px;
    line-height: 24px;
    color: $black2;
  }
}
