mixin contact-info(data)
  .contact-info&attributes(attributes)
    .contact-info__image
      img(src="./img/" + data.image, alt="")
    .contact-info__contacts
      .contact-info__name= data.name
      .contact-info__phone= data.phone
