mixin schedule-speaker(data)
  a.schedule-speaker(href="#")&attributes(attributes)
    .schedule-speaker__photo(style="background-image: url(./img/" + data.photo + ");")
    .schedule-speaker__content
      p.sm.text-primary.schedule-speaker__name.mb-0= data.name
      p.sm.schedule-speaker__company.mb-0= data.company
