.schedule-speaker {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(xs) {
    margin-bottom: 20px;
  }

  @include transition;

  &:hover {
    opacity: .8;
    text-decoration: none;
  }

  &__photo {
    margin-right: 12px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__content {
  }

  &__company {
    color: rgba(#000, .5);
  }

  &--session {

    .schedule-speaker__name {
      font-weight: 700;
      color: $dark !important;
    }
  }
}
