.cabinet {
  padding-bottom: 35px;
  border-bottom: 1px solid #e0e0e0;

  &__info-wrapper {
  }

  &__info {
    padding: 12.5px 0;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgba(#000, .1);

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__info-left {
    width: 265px;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__info-header {
    margin-bottom: 0;
    color: rgba(#515152, .78);
  }

  &__info-right {
    padding-right: 60px;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }
  }

  &__schedule {
  }

  &__schedule-item {
    margin-bottom: 45px;
  }

  &__schedule-date {
    margin-bottom: 14px;
    color: rgba(#000, .2);
  }

  &__user {
    margin-top: 100px;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  &__user-photo {
    position: relative;
    margin-bottom: 35px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    &:before {
      position: absolute;
      top: -17px;
      left: -8px;
      display: block;
      width: 264px;
      height: 226px;
      content: '';
      background: url(../img/cabinet-user-ornament.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__user-city {
    margin-bottom: 5px;
    font-weight: 600;
    color: rgba(#000, .5);
  }

  &__user-status {
    margin-bottom: 13px;
    color: rgba(#000, .5);
  }

  &__user-edit {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: $primary;

    &:before {
      margin-right: 14px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/cabinet-edit.svg) no-repeat center;
      background-size: contain;
    }
  }
}
