.link-back {
  position: relative;
  margin-bottom: 16px;
  padding-left: 58px;

  @include media-breakpoint-down(sm) {
    padding-left: 30px;
  }

  .h2 {

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }

  &__arrow {
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 23px;
    height: 17px;
    flex-shrink: 0;
    background: url(../img/arrow-back.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      top: 5px;
      width: 20px;
      height: 15px;
    }
  }
}
