.session-item {
  margin-bottom: 24px;
  padding: 20px 25px;
  border: 1px solid #000;
  border-radius: 4px;

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__interesting {
    margin-left: 20px;
    padding: 4px;
    display: flex;
    min-width: 160px;
    max-width: 160px;
    align-items: baseline;
    flex-grow: 1;
    border: 1px solid $primary;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(xs) {
      margin-left: 0;
    }

    &:hover {
      opacity: .8;
      text-decoration: none;
    }

    &--active {
      background: $primary;

      .session-item__interesting-title {
        color: #fff;
      }

      .session-item__interesting-number {
        color: $primary;
        background: #fff;
      }
    }
  }

  &__interesting-title {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $primary;
  }

  &__interesting-number {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 2.2;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: $primary;
    border-radius: 4px;
  }
}
