mixin session-item(data)
  .session-item&attributes(attributes)
    h5
      a.text-dark(href="#")= data.title
    p.sm.mb-0= data.dscr
    .session-item__footer
      +schedule-speaker({
        photo: 'user-1.jpg',
        name: 'Валидаров Константин',
        company: 'Россия'
      }).schedule-speaker--session
      if data && data.modifier == 'interesting'
        a.session-item__interesting.session-item__interesting--active(href="#")
          .p.session-item__interesting-title Интересно
          .session-item__interesting-number +22
      else
        a.session-item__interesting(href="#")
          .p.session-item__interesting-title Интересно
          .session-item__interesting-number +22
