mixin main-slider(data)
  .main-slider&attributes(attributes)
    a.news__item(href="#", style="background-image: url(./img/news-img1.jpg);")
      .news__date 4 сентября 2020
      .news__title Международный молодежный форум «Евразия Global»-2020 получил эгиду ЮНЕСКО 
    a.news__item(href="#", style="background-image: url(./img/news-img2.jpg);")
      .news__date 4 сентября 2020
      .news__title Открыта регистрация участников на форум «Евразия Global»
    a.news__item(href="#", style="background-image: url(./img/news-img3.jpg);")
      .news__date 4 сентября 2020
      .news__title Грантовый конкурс Росмолодежи в рамках «Евразия Global»
    a.news__item(href="#", style="background-image: url(./img/news-img3.jpg);")
      .news__date 4 сентября 2020
      .news__title Грантовый конкурс Росмолодежи в рамках «Евразия Global»  
