mixin tracks(data)
  .tracks.row&attributes(attributes)
    -var index = 1
    each val, key in data.items
      .col-md-6.col-lg-3
        .tracks__item
          .tracks__number(class="tracks__number--" + index++)= key
          .tracks__text= val
