.tracks {
  flex-flow: row wrap;

  [class^='col-'] {
    padding-bottom: 40px;
    display: flex;
    align-items: stretch;
  }

  &__item {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    border-left: 1px solid $blue;
  }

  &__number {
    position: absolute;
    top: -30px;
    left: -8px;
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #0066ff;

    &--2 {
      left: -10px;
    }

    &--3 {
      left: -10px;
    }

    &--4 {
      left: -13px;
    }
  }

  &__text {
    font-size: 20px;
  }
}
