mixin questions(data)
  .questions&attributes(attributes)
    .questions__content
      .h5.mb-30 Вопросы спикерам
      .questions__list
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
        })
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
        })
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
        })
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
        })
