.questions {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100%;
    content: '';
    background: #f8f8f8;

    @include media-breakpoint-down(lg) {
      left: 50%;
      width: 200vw;
      transform: translateX(-50%);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding: 30px 0 0 30px;

    @include media-breakpoint-down(sm) {
      padding-top: 15px;
      padding-left: 0;
    }
  }

  &__list {
    position: relative;
    padding-right: 20px;
    max-height: 580px;
  }
}
