mixin media-controls(data)
  .media-controls&attributes(attributes)
    .media-controls__views 150
    .media-controls__right
      a.media-controls__vote.media-controls__vote--up(href="#") 150
      a.media-controls__vote.media-controls__vote--down(href="#") 15
      a.media-controls__share(href="#")
