.schedule {

  &__header {
    margin: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-tabs--links {

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
  }

  .tab-content > .tab-pane {
    position: absolute;
    display: block;

    &.active {
      position: static;
    }
  }
}
