.workshops {
  position: relative;
  padding: 35px 40px 63px 32px;

  @include media-breakpoint-down(sm) {
    padding-left: 30px;
  }

  @include media-breakpoint-down(xs) {
    padding: 35px 20px 40px;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50vw - 24px);
    content: '';
    background: url(../img/workshops-bgn.png) -4px -3px no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;

    @include media-breakpoint-down(sm) {
      width: calc(100% + (100vw - 527px) / 2);
    }

    @include media-breakpoint-down(xs) {
      width: calc(100% + 15px);
    }
  }
}
