mixin workshops(data)
  .workshops&attributes(attributes)
    h3.text-white.mb-15 Творческие мастерские
    p.lg.text-white
      b Также участников «Евразия Global» ждут короткие образовательные треки по направлениям для развития гибких навыков (soft skills):
    +list({
      modifier: 'workshops'
    }).list--workshops
