mixin menu(data)
  ul.menu&attributes(attributes)
    li.menu__item
      a.menu__link(href="#") Программа
    li.menu__item
      a.menu__link(href="#") О форуме
    li.menu__item
      a.menu__link(href="#") Участникам
    li.menu__item
      a.menu__link(href="#") Пресс-центр
    li.menu__item
      a.menu__link(href="#") Дирекция
    li.menu__item
      a.menu__link(href="#") Задать вопрос
