.menu {
  margin: 0;
  padding: 0 5px 0 0;
  display: flex;
  align-items: center;
  list-style-type: none;

  @include media-breakpoint-down(md) {
    padding: 0;
    flex-direction: column;
  }

  &__item {

    &.is-active,
    &.current-menu-item {

      .menu__link {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  &__link {
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    color: $black2;

    @include transition;

    @include media-breakpoint-down(lg) {
      padding: 10px 5px;
      font-size: 14px;
    }

    @include media-breakpoint-down(md) {
      padding: 10px;
      display: block;
      font-size: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
