.list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &--workshops {
    margin-top: 25px;
    padding-left: 30px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }

    .list__item {
      margin-bottom: 7px;
      padding-left: 46px;
      color: $white;

      &:before {
        left: 0;
      }
    }
  }

  &--media {

    .list__item {
      margin-bottom: 16px;
      padding-left: 46px;
      max-width: 550px;
      font-size: 20px;
      line-height: 28px;

      &:before {
        top: 12px;
        left: 0;

        @include media-breakpoint-down(xs) {
          width: 18px;
        }
      }

      @include media-breakpoint-down(xs) {
        padding-left: 27px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__item {
    position: relative;
    margin-bottom: 13px;
    width: 100%;
    max-width: 504px;

    @include media-breakpoint-down(sm) {
      padding-left: 27px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      top: 9px;
      left: -46px;
      width: 30px;
      height: 1px;
      content: '';
      background: $blue;

      @include media-breakpoint-down(sm) {
        left: 0;
        width: 18px;
      }
    }
  }
}
