mixin list(data)
  ul.list&attributes(attributes)
    if data && data.modifier === 'workshops'
      li.list__item Актерское мастерство для жизни
      li.list__item Игровая импровизация
      li.list__item Ораторское мастерство и искусство
      li.list__item Танцевальная импровизация
      li.list__item Мастерство переговоров
      li.list__item Навыки удаленной работы
      li.list__item Делегирование и управление командой
      li.list__item Креативное мышление
      li.list__item Сторителлинг
      li.list__item Скетчинг
    else if data && data.modifier === 'media'
      li.list__item российским журналистам необходимо обладать удостоверением журналиста и находиться в штате зарегистрированного при Роскомнадзоре СМИ;
      li.list__item иностранным журналистам необходимо обладать аккредитацией при МИД РФ.
      li.list__item Для прохода на Международный молодежный форум «Евразия Global» аккредитованным пресс-службой форума представителям СМИ необходимо иметь при себе:
      li.list__item российские СМИ — паспорт и удостоверение журналиста;
      li.list__item иностранные СМИ — паспорт и аккредитацию МИД РФ.
      li.list__item При проходе на территорию форума осуществляется проверка безопасности, предусматривающая как личный досмотр, так и досмотр личных вещей и оборудования.
      li.list__item Нахождение на территории форума возможно при наличии бейджа, выданного организаторами форума.
      li.list__item Пресс-служба Форума вправе самостоятельно определять необходимые документы для подтверждения аккредитации, а также устанавливать необходимые сроки для принятия решения. Пресс-служба Форума вправе отказать в аккредитации без объяснения причин.
    else
      li.list__item
        b молодые лидеры общественного мнения 
        | из России и зарубежных стран,
      li.list__item
        b молодые специалисты и профессионалы, 
        | осуществляющие свою деятельность в сфере международного молодежного сотрудничества,
      li.list__item
        b представители иностранной молодежи, 
        | заинтересованные в активном взаимодействии и сотрудничестве с российской молодежью,
      li.list__item
        b молодые российские соотечественники,
      li.list__item
        b молодые люди, имеющие идею проекта или готовый проект, 
        | с прицелом на международное сотрудничество.
