.dialog {
  background: #f2f2f2;

  &__content {
    padding: 85px 105px 85px 55px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding: 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
      flex-direction: column;
    }
  }

  &__logo {
    max-width: 195px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__dscr {
    max-width: 300px;

    @include media-breakpoint-down(sm) {
      max-width: none;
      text-align: center;
    }
  }

  &__controls {
    padding: 55px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(#000, .2);

    @include media-breakpoint-down(md) {
      border-top: 1px solid rgba(#000, .2);
      border-left: 0;
    }
  }

  &__controls-logo {
    margin-bottom: 40px;
    max-width: 186px;
  }
}
