mixin dialog(data)
  .dialog&attributes(attributes)
    .row.no-gutters
      .col-lg-8.d-flex
        .dialog__content
          .dialog__logo
            img(src="./img/dialog-logo.svg", alt)
          p.lg.dialog__dscr Данная сессия проходит в формате двустороннего диалога. Для подключения к ней, пожалуйста, перейдите по ссылке выше
      .col-lg-4.d-flex
        .dialog__controls
          .dialog__controls-logo
            img(src="./img/zoom-logo.png", alt)
          a.btn.btn-primary(href="#") Подключиться
          
