@keyframes fadeOut {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  padding: 60px 0 40px;

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 20px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    &.is-active {
      display: flex;
      animation: .3s ease fadeIn;
    }

    &.is-hidden {
      animation: .3s ease fadeOut;
    }

    @include media-breakpoint-down(md) {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      padding-left: 0;
      display: none;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #ffffff;
    }

    .lang-switcher {
      padding-right: 10px;

      @include media-breakpoint-down(md) {
        padding: 10px 10px 20px;
      }
    }
  }
}
