mixin header(data)
  header.header&attributes(attributes)
    .container
      .header__wrap
        .header__left
          +logo
        .header__right
          +menu
          +lang-switcher
          a.btn.btn-primary(href="#") Регистрация
          +sandwich.sandwich__close.js-sandwich-close
        +sandwich.js-sandwich-open
