.form {
  padding: 60px 0;
  background: $sky-blue2 url(../img/form-bg.png) calc(100% - 130px) bottom no-repeat;

  @include media-breakpoint-down(sm) {
    background-image: none;
  }

  @include media-breakpoint-down(lg) {
    background-position: right bottom;
  }

  &__wrap {
    margin: 0 -15px;
    display: flex;

    @include media-breakpoint-down(md) {
      margin: 0;
      display: block;
    }
  }

  &__left {
    padding: 0 15px;
    width: 382px;
    flex: 1 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0;
      width: 100%;
    }
  }

  &__right {
    padding: 0 15px;
    width: 100%;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  form {
    max-width: 832px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__submit-wrap {
    padding: 30px 0 0 20px;
    display: flex;

    @include media-breakpoint-down(md) {
      padding: 30px 0 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__terms {

    @include media-breakpoint-down(md) {
      padding-right: 20px;
    }

    a {
      text-decoration: underline;
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--default {
    padding: 0;
    display: flex;
    min-width: 352px;
    flex-direction: column;
    background: transparent;

    @include media-breakpoint-down(xs) {
      min-width: 0;
    }
  }
}
