mixin form(data)
  .form&attributes(attributes)
    .container
      h2 Остались вопросы?
      p.lg.mb-30 Задайте их нам и мы ответим Вам<br> в кратчайшие сроки
      form
        .form__wrap
          .form__left
            .form-group
              label(for="your-name") Ваше имя
              input.form-control(type="text" id="your-name" placeholder="Константин")
            .form-group
              label(for="your-phone") Номер телефона
              input.form-control(type="tel" id="your-phone" placeholder="+7 ( ___ ) ___ - __ - __")
            .form-group
              label(for="your-email") Ваш e-mail
              input.form-control(type="email" id="your-email" placeholder="sample@sample.com")
          .form__right
            textarea.form-control(placeholder="Ваш вопрос")
            .form__submit-wrap
              .form__terms
                | Соглашаюсь с 
                a(href="#") условиями обработки персональных данных
              .form__submit
                button.btn.btn-primary(type="submit") Отправить
