.participants {

  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }

  &__wrap {
    margin-bottom: 58px;
    display: flex;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-right: 21px;
    height: 109px;
    font-size: 150px;
    line-height: 150px;
    font-weight: bold;
    color: $blue;

    @include media-breakpoint-down(lg) {
      height: 118px;
      font-size: 140px;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    transform: rotate(-90deg);

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
  }
}
