mixin participants(data)
  .participants&attributes(attributes)
    .participants__wrap
      .participants__title 800
      .participants__subtitle участников
    .participants__text Международный молодежный образовательный форум «Евразия Global» нацелен на создание площадки для практико–ориентированного диалога молодых представителей Российской Федерации и иностранных государств.
